@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --bg-coklat: #8B4513;
    --bg-semu-kuning: #FFE799;
    --bg-semu-kuning-v2: #FAF3E0;
    --bg-kuning-gold: #C29C20;
    --bg-hitam-muda: #60605F;

}

html {
    scroll-behavior: smooth;
  }

.poppins{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.bg-coklat{
    background-color: var(--bg-coklat);
}
.bg-semu-kuning{
    background-color: var(--bg-semu-kuning);
}
.bg-semu-kuning-v2{
    background-color: var(--bg-semu-kuning-v2);
}
.bg-kuning-gold{
    background-color: var(--bg-kuning-gold);
}
.bg-hitam-muda{
    background-color: var(--bg-hitam-muda);
}
.active-menu{
    border-bottom: 4px solid var(--bg-coklat);
}

.border-b-coklat{
    border-bottom: 1px solid rgba(139, 69, 19, 0.5);
}

.text-coklat{
    color: var(--bg-coklat);
}

.border-coklat{
    border: 3px solid var(--bg-coklat);
}

.custom-bg-section-4 {
    position: relative;
    z-index: 1;
    background-color: #FCE7A1;
}

.custom-bg-section-4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../img/bakground-section-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1; /* Adjust opacity here */
    z-index: -1; /* Send background behind the content */
}

/* animation */
.fade-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .fade-leave {
    opacity: 1;
    transform: scale(1);
  }
  .fade-leave-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  /* Tambahkan style untuk active kategori */
  .category-active {
    border-bottom: 2px solid black;
    color: black;
  }
